*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  background: url("../images/pattern-background-mobile.svg"), hsl(225deg, 100%, 94%);
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

a {
  color: hsl(245deg, 75%, 52%);
  text-decoration: underline;
  font-size: 1.4rem;
  font-weight: 900;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
a:hover {
  color: hsl(224deg, 23%, 55%);
}
a:visited {
  color: hsl(245deg, 75%, 52%);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.order {
  min-height: 568px;
  max-height: 568px;
  max-width: 327px;
  background-color: #fff;
  -webkit-box-shadow: 0 8px 50px -35px hsl(245deg, 75%, 52%);
          box-shadow: 0 8px 50px -35px hsl(245deg, 75%, 52%);
  border-radius: 1em;
}
.order__img {
  background-image: url("../images/illustration-hero.svg");
  background-position: center;
  background-size: cover;
  height: 160px;
  width: auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
}
.order__content {
  margin: 0 1.5em;
}
.order__title {
  margin-top: 1.8em;
  margin-bottom: 0.9em;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 900;
  color: hsl(223deg, 47%, 23%);
}
.order__text {
  margin: 0 1em 1.4em;
  text-align: center;
  color: hsl(224deg, 23%, 55%);
  font-size: 1.5rem;
  line-height: 1.7em;
}
.order__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.3em;
  padding: 1.1em 1em;
  background-color: hsl(225deg, 100%, 98%);
  border-radius: 1em;
}
.order__plan-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1em;
}
.order__plan-img {
  display: block;
}
.order__plan-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.order__plan-details--annual {
  display: block;
  font-size: 0.9em;
  font-weight: 700;
}
.order__plan-details--cost {
  color: hsl(224deg, 23%, 55%);
  font-size: 1.4rem;
}
.order__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.order__btn-payment, .order__btn-cancel {
  all: unset;
  width: 100%;
  padding: 1.2em 0;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in, color 0.2s ease-in;
  transition: background-color 0.3s ease-in, color 0.2s ease-in;
}
.order__btn-payment:focus, .order__btn-cancel:focus {
  outline: none;
  border-radius: 8px;
}
.order__btn-payment {
  margin-bottom: 0.5em;
  color: #fff;
  font-weight: 700;
  background-color: hsl(245deg, 75%, 52%);
  -webkit-box-shadow: 0 10px 15px 1px hsla(245deg, 75%, 52%, 0.2);
          box-shadow: 0 10px 15px 1px hsla(245deg, 75%, 52%, 0.2);
  border-radius: 1em;
}
.order__btn-payment:hover {
  background-color: hsl(224deg, 23%, 55%);
}
.order__btn-payment:focus {
  border: 1px solid hsl(225deg, 100%, 98%);
}
.order__btn-cancel {
  margin-bottom: 1.3em;
  width: 50%;
  color: hsl(224deg, 23%, 55%);
  font-weight: 900;
}
.order__btn-cancel:hover {
  color: #000;
}
.order__btn-cancel:focus {
  border: 1px solid hsl(224deg, 23%, 55%);
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 1.4em 1em;
  height: 25px;
}
.footer__attribution {
  color: hsl(223deg, 47%, 23%);
  font-size: 1.1rem;
}
.footer__attribution a {
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  body {
    background: url("../images/pattern-background-mobile.svg"), hsl(225deg, 100%, 94%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }

  .order {
    min-height: 697px;
    max-height: 697px;
    max-width: 450px;
  }
  .order__img {
    height: 220px;
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */